<%= simple_form_for(@service) do |f| %>            
  <fieldset class="last-child">
    <%= f.input :name, :label => "Название", :autofocus => true %>
    <%= f.input :price, :label => "Цена" %>              
  </fieldset>
  
  <div class="actions">
    <%= f.input :category_id, :as => :hidden, :input_html => { :value => @category.id } %>
    <%= f.submit "Сохранить" %> или <%= link_to "вернуться назад", :back, :class => "admin" %>
  </div>
<% end %>
