<tr id="<%= service.id %>">
  <td><p><%= service.name %></p></td>
  <td><p class="price"><%= number_to_currency service.price %></p></td>
  <td>
    <div class="controls">          
      <span class="delete">
        <%= link_to content_tag(:span, "", :class => "icon"), service, :confirm => 'Вы уверены?', :method => :delete, :remote => true %>
      </span>
      <%= link_to "Правка", edit_service_path(service), :class => "admin", :remote => true %>
    </div>
  </td>
</tr>  