<%= simple_form_for(@comment) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :body %>
    <%= f.input :patient_id %>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
