<div id="teethChart" class="teeth-chart-wrap">
  <h3>Таблица зубов пациента</h3>
  <table>
    <tr>
      <td>
        <%= editable_field @patient.teeth_chart, :tooth_18 %>
        <label class="click" for="tooth_18">18</label>
      </td>
      <td>
        <%= editable_field @patient.teeth_chart, :tooth_17 %>
        <label for="tooth_17">17</label>
      </td>
      <td>
        <%= editable_field @patient.teeth_chart, :tooth_16 %>
        <label for="tooth_16">16</label>
      </td>
      <td>
        <%= editable_field @patient.teeth_chart, :tooth_15 %>
        <label for="tooth_15">15</label>
      </td>
      <td>
        <%= editable_field @patient.teeth_chart, :tooth_14 %>
        <label for="tooth_14">14</label>
      </td>
      <td>
        <%= editable_field @patient.teeth_chart, :tooth_13 %>
        <label for="tooth_13">13</label>
      </td>
      <td>
        <%= editable_field @patient.teeth_chart, :tooth_12 %>
        <label for="tooth_12">12</label>
      </td>
      <td>
        <%= editable_field @patient.teeth_chart, :tooth_11 %>
        <label for="tooth_11">11</label>
      </td>
      <td>
        <%= editable_field @patient.teeth_chart, :tooth_21 %>
        <label for="tooth_21">21</label>
      </td>
      <td>
        <%= editable_field @patient.teeth_chart, :tooth_22 %>
        <label for="tooth_22">22</label>
      </td>
      <td>
        <%= editable_field @patient.teeth_chart, :tooth_23 %>
        <label for="tooth_23">23</label>
      </td>
      <td>
        <%= editable_field @patient.teeth_chart, :tooth_24 %>
        <label for="tooth_24">24</label>
      </td>
      <td>
        <%= editable_field @patient.teeth_chart, :tooth_25 %>
        <label for="tooth_25">25</label>
      </td>
      <td>
        <%= editable_field @patient.teeth_chart, :tooth_26 %>
        <label for="tooth_26">26</label>
      </td>
      <td>
        <%= editable_field @patient.teeth_chart, :tooth_27 %>
        <label for="tooth_27">27</label>
      </td>
      <td>
        <%= editable_field @patient.teeth_chart, :tooth_28 %>
        <label for="tooth_28">28</label>
      </td>
    </tr>
    <tr>
      <td>              
        <label for="tooth_48">48</label>
        <%= editable_field @patient.teeth_chart, :tooth_48 %>
      </td>
      <td>              
        <label for="tooth_47">47</label>
        <%= editable_field @patient.teeth_chart, :tooth_47 %>
      </td>
      <td>              
        <label for="tooth_46">46</label>
        <%= editable_field @patient.teeth_chart, :tooth_46 %>
      </td>
      <td>              
        <label for="tooth_45">45</label>
        <%= editable_field @patient.teeth_chart, :tooth_45 %>
      </td>
      <td>
        <label for="tooth_44">44</label>
        <%= editable_field @patient.teeth_chart, :tooth_44 %>
      </td>
      <td>              
        <label for="tooth_43">43</label>
        <%= editable_field @patient.teeth_chart, :tooth_43 %>
      </td>
      <td>              
        <label for="tooth_42">42</label>
        <%= editable_field @patient.teeth_chart, :tooth_42 %>
      </td>
      <td>              
        <label for="tooth_41">41</label>
        <%= editable_field @patient.teeth_chart, :tooth_41 %>
      </td>
      <td>              
        <label for="tooth_31">31</label>
        <%= editable_field @patient.teeth_chart, :tooth_31 %>
      </td>
      <td>              
        <label for="tooth_32">32</label>
        <%= editable_field @patient.teeth_chart, :tooth_32 %>
      </td>
      <td>              
        <label for="tooth_33">33</label>
        <%= editable_field @patient.teeth_chart, :tooth_33 %>
      </td>
      <td>              
        <label for="tooth_34">34</label>
        <%= editable_field @patient.teeth_chart, :tooth_34 %>
      </td>
      <td>              
        <label for="tooth_35">35</label>
        <%= editable_field @patient.teeth_chart, :tooth_35 %>
      </td>
      <td>
        <label for="tooth_36">36</label>
        <%= editable_field @patient.teeth_chart, :tooth_36 %>
      </td>
      <td>              
        <label for="tooth_37">37</label>
        <%= editable_field @patient.teeth_chart, :tooth_37 %>
      </td>
      <td>              
        <label for="tooth_38">38</label>
        <%= editable_field @patient.teeth_chart, :tooth_38 %>
      </td>
    </tr>
  </table>
</div>