<%= simple_form_for(@doctor) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :first_name %>
    <%= f.input :middle_name %>
    <%= f.input :last_name %>
    <%= f.input :title %>
    <%= f.input :email %>
    <%= f.input :phone_number %>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
