<%= simple_form_for(@doctor) do |f| %>

  <div id="patient_photo" class="photo">
    <%= image_tag "doctor-tmp.jpg", :width => "80", :height => "80" %>
    <%= link_to "Изменить", "", :class => "admin" %>
  </div>

  <fieldset class="small right">
    <%= f.input :last_name, :label => "Фамилия", :autofocus => focus_only_new %>
    <%= f.input :first_name, :label => "Имя" %>
    <%= f.input :middle_name, :label => "Отчество" %>
    <%= f.input :title, :label => "Должность" %>
  </fieldset>

  <fieldset class="small right last-child">
    <%= f.input :birth_date, :as => :date, :start_year => Date.today.year - 90,
                                :end_year => Date.today.year - 6,
                                :order => [:day, :month, :year], :label => "Дата рождения" %>
    <%= f.input :phone_number, :label => "Телефон" %>
    <%= f.input :email, :label => "Электропочта" %>    
  </fieldset>
  
  <div class="clear"></div>

  <div class="actions">
    <%= f.submit "Сохранить" %> или <%= link_to "вернуться назад", :back, :class => "admin" %>
  </div>
<% end %>
