<% title "Услуги" %>

<h1 class="special">Услуги</h1>

<div class="liner">
  <table id="categories">
    <thead>
      <tr>
        <th colspan="2"><h2>Категории</h2</th>
      </tr>
    </thead>
    <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td>
          <h3><%= link_to category.name.mb_chars.titleize.to_s, category %></h3>
          <p class="description"><%= category.description %></p>
        </td>
        <td>
          <div class="controls">          
            <%= link_to_delete category %>
            <%= link_to_edit "category", category %>
          </div>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<% content_for(:sidebar) { %>
  <div class="button-to-add-new-wrap clearfix">
    <span class="button">
      <%= link_to content_tag(:span, "Новая категория"), new_category_path %>
    </span>
  </div>
  
  <%= render "sidebar" %>
<% } %>
