<div id="topbar">
  <div class="inner">
    <ul>
      <li><a href="#">Выход</a></li>
    </ul>
  </div>
</div>
<div id="header">
  <div class="inner">
    <h1><%= AppConfig[:site_name] %></h1>  
    <% if request.headers['X-PJAX'] %>
      PJAX!
    <% end %>
    <div class="search-wrap clearfix">  
      <span id="button_to_add_new_patient" class="action">
        <%= link_to content_tag(:span, "Новый пациент"), new_patient_path %>
      </span>
      <span class="overlay-wrap">
        <label for="search_query" class="overlabel">Перейти к пациенту...</label>
        <%= autocomplete_field :patient, :full_name, application_autocomplete_patient_full_name_path, :id => "search_query" %>
      </span>
    </div>
    <ul class="navigation-tabs">
      <% if controller.controller_name == "patients" %>
        <li class="current"><%= link_to "Пациенты", new_patient_path %></li>
      <% else %>
        <li><%= link_to "Пациенты", new_patient_path %></li>
      <% end %>
      
      <% if controller.controller_name == "doctors" %>
        <li class="current"><%= link_to "Врачи", doctors_path %></li>
      <% else %>
        <li><%= link_to "Врачи", doctors_path %></li>
      <% end %>
      
      <% if controller.controller_name == "categories" %>
        <li class="current"><%= link_to "Услуги", categories_path %></li>      
      <% else %>
        <li><%= link_to "Услуги", categories_path %></li>
      <% end %>
      
      <% if controller.controller_name == "templates" %>
        <li class="current indented"><%= link_to "Шаблоны", templates_path %></li>      
      <% else %>
        <li class="indented"><%= link_to "Шаблоны", templates_path %></li>
      <% end %>
    </ul>    
  </div>  
</div>